#ASHead {
    font-size: 80px;
}

.welcomeText {
    font-size: 24px;
}

#mainDiv {
    padding: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

.picContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pic {
    max-width: 350px;
    height: auto;
    padding: 10px;
    border-radius: 10%;
}