@page "/Error"
@page "/Error/{errmsg}"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<div id="error-overlay-div">
    <div id="error-text-container">
        <p class="message text-danger">Error!</p>
        <i id="warning-icon" class="bi bi-exclamation-triangle text-danger"></i>
        <p class="message text-danger">@ErrMsg</p>
    </div>
</div>

@code{
    [Parameter]
    public string ErrMsg { set; get; } = "An error occurred while processing your request...";
}