main {
    display: flex;
}

h1 {
    text-align: center;
    padding: 20px;
}

.welcomeTxt {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 22px;
}

.picContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pic {
    max-width: 350px;
    height: auto;
    padding: 10px;
    border-radius: 10%;
}