h2 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.result-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lore-result {
    color: white;
    cursor: pointer;
    margin: auto;
    margin-bottom: 15px;
    transition: .5s;
    width: fit-content;
}

.lore-result:hover {
    color: rgb(220, 53, 69);
}