#geomap-canvas {
    width: 85vw;
    height: 60vh;
    border: 5px groove rgb(59, 59, 59);
    border-radius: 25px;
    display: block;
    margin: auto;
}

#router-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

#other-maps {
    display: flex;
    width: 30%;
    flex-direction: column;
}

#location-lore {
    display: flex;
    width: 30%;
    flex-direction: column;
}

button {
    margin: 20px;
}