<div id="footer-div">

    <a class="footer-link" href="https://www.linkedin.com/in/gregory-nitch-436b0a227/">
        <i class="bi bi-linkedin text-secondary"> My LinkedIn</i>
    </a>

    <a class="footer-link" href="https://github.com/Gregory-Nitch">
    <i class="bi bi-github text-secondary">
        My GitHub
        </i>
    </a>

    <a class="footer-link" href="https://gregory-nitch.github.io/">
    <i class="bi bi-body-text text-secondary">
        My Portfolio
        </i>
    </a>

</div>

@code {

}
