
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">AnaraScape</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarColor02" aria-controls="navbarColor02" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mx-3">
          <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
            <i class="bi bi-sun-fill"></i>Home</NavLink>
        </li>
        <li class="nav-item mx-3">
          <NavLink class="nav-link px-3" href="/map-generator">
            <i class="bi bi-pencil-square"></i>Map Generator</NavLink>
        </li>
        <li class="nav-item mx-3">
          <NavLink class="nav-link px-3" href="/world-maps">
            <i class="bi bi-globe-asia-australia"></i>World Maps</NavLink>
        </li>
        <li class="nav-item mx-3">
          <NavLink class="nav-link px-3" href="/lore">
            <i class="bi bi-journal-richtext"></i>Lore</NavLink>
        </li>
      </ul>
    </div>
  </div>
</nav>
