
#processing-overlay-div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: .8;
    z-index: 4;
    display: flex;
}

#processing-text-container {
    display: flex;
    align-items: center;
}

.spinner-border {
    width: 10rem;
    height: 10rem;
}

#processing-message {
    font-size: 5rem;
}