
<div id="processing-overlay-div" class="justify-content-center">
    <div id="processing-text-container">
        <p id="processing-message" class="text-danger m-4" role="status">Loading...</p>
        <div class="spinner-border ms-auto text-danger m-2" aria-hidden="true"></div>
    </div>
</div>
