#toolbar-container {
    position: fixed;
    width: 100%;
    z-index: 3;
}

#toolbar {
    background-image: linear-gradient(180deg,
            rgb(30, 30, 40) 0%,
            rgb(50, 50, 50) 130%);
}

#tools {
    display: flex;
    justify-content: center;
}

#tools>div {
    margin: 20px;
}

#style-col {
    display: flex;
    flex-direction: column;
}

#style-col>div {
    margin: 5px;
}

.dropdown-menu {
    text-align: center;
}

#levels {
    flex-direction: column;
}

#size-col {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.size-row {
    text-align: center;
    width: 100%;
}

#button-col {
    display: flex;
    flex-direction: column;
}

#button-col>button,
a {
    margin: 5px;
}

#tool-instructions {
    text-align: center;
}

.instruction {
    margin: 0px;
    font-weight: 600;
}

#toggler-div {
    display: flex;
    justify-content: center;
}

#toolbar-toggler {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-color: rgb(50, 50, 50);
}